@page "/"
@inject BlazorJQueryUIWrapperDOM DOM

<h1>Welcome on this test page of BlazorJQueryUI</h1>
<button @onclick="TriggerSpinner">Spinner</button>
<h2>Components : </h2>
<input id="spinner">


@code {

    async Task TriggerSpinner()
    {
        await DOM.Spinner("#spinner");
    }
}
